// 3DTune-In Audio Toolkit flags
OTHER_CPLUSPLUSFLAGS = $(inherited) -DNDEBUG
_3DTI_PATH = ../../../../3dti_AudioToolkit
_3DTI_THIRD_PARTY = $(_3DTI_PATH)/3dti_ResourceManager/third_party_libraries

// libsofa
SOFA = $(_3DTI_THIRD_PARTY)/sofacoustics/libsofa
SOFA_HEADERS = $(SOFA)/src
SOFA_LIB_PATH = $(SOFA)/lib
SOFA_LIB = $(SOFA_LIB_PATH)/libsofa.a
SOFA_3RD_PARTY_HEADERS = $(SOFA)/dependencies/include
SOFA_3RD_PARTY_LIBS_PATH = $(SOFA)/dependencies/lib/macos
NETCDF_LIB					=  $(SOFA_3RD_PARTY_LIBS_PATH)/libnetcdf.a
NETCDF_CPP_LIB				=  $(SOFA_3RD_PARTY_LIBS_PATH)/libnetcdf_c++4.a
HDF5HL_LIB					=  $(SOFA_3RD_PARTY_LIBS_PATH)/libhdf5_hl.a
HDF5_LIB					=  $(SOFA_3RD_PARTY_LIBS_PATH)/libhdf5.a
CURL_LIB                    =  $(SOFA_3RD_PARTY_LIBS_PATH)/libcurl.a
Z_LIB						=  $(SOFA_3RD_PARTY_LIBS_PATH)/libz.a
SOFA_3RD_PARTY_LIBS            =  $(NETCDF_LIB) $(NETCDF_CPP_LIB) $(HDF5HL_LIB) $(HDF5_LIB) $(CURL_LIB) $(Z_LIB)

// Cereal
CEREAL = $(_3DTI_THIRD_PARTY)/cereal
CEREAL_HEADERS = $(CEREAL)/include

_3DTI_RESOURCE_MGR = $(_3DTI_PATH)/3dti_ResourceManager
_3DTI_TOOLKIT = $(_3DTI_PATH)/3dti_Toolkit
_3DTI_HEADERS = $(_3DTI_RESOURCE_MGR) $(_3DTI_TOOLKIT) $(SOFA_HEADERS) $(SOFA_3RD_PARTY_HEADERS) $(CEREAL_HEADERS)
_RTAUDIO_HEADERS = ../../../rtaudio ../../../rtaudio/include

// This accumulates all the third party libs used
// using the Other Linker Flags setting in the project itself.
OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OF_CORE_FRAMEWORKS) $(OF_LIB) $(SOFA_3RD_PARTY_LIBS) $(SOFA_LIB)
HEADER_SEARCH_PATHS = $(OF_HEADERS) $(_3DTI_HEADERS) $(_RTAUDIO_HEADERS)

OTHER_CFLAGS = -D_3DTI_AXIS_CONVENTION_BINAURAL_TEST_APP -D_3DTI_ANGLE_CONVENTION_LISTEN -D__MACOSX_CORE__ -framework CoreAudio -framework CoreFoundation -lpthread
