[submodule "3dti_AudioToolkit"]
	path = 3dti_AudioToolkit
	url = https://github.com/3DTune-In/3dti_AudioToolkit.git
[submodule "third_party_libraries/portaudio"]
	path = third_party_libraries/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "third_party_libraries/rtaudio"]
	path = third_party_libraries/rtaudio
	url = https://github.com/thestk/rtaudio.git
